  body {
    background: #00598a;
    padding-top: 25px;
    padding-bottom: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .card{
    border: 0;
    border-radius: 1rem;
    width: 500px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .card-title{
    margin-bottom: 2rem;
    font-weight: 400px;
    font-size: 2rem;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .card-body{
    padding: 2rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #btnLogin{
    background-color: #00598a;
    color: white;
    font-size: 1rem;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #btnRegister{
    background-color: grey;
    color: white;
    font-size: 1rem;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #btn{
    font-size: 1rem;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #input{
    height: auto;
    border-radius: .6rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }