<app-nav-bar></app-nav-bar>
<br>
<br>
<br>
<br>
&nbsp;
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 id="tituloCliente">Orden De Servicio</h1>
      <hr id="hrCliente">
    </div>
  </div>
</div>
<div class="container">

  <div class="container">
    <div class="row col-12">
      <div class="input-group col-12">
        <div class="col-2">
          <select id="select" class="form-control" #mySelect>
            <option value=1>Nombre</option>
            <option value=2>ID</option>
          </select>
        </div>
        <input id="input" class="form-control" placeholder="Buscar..." #myInput
            (keyup)="this.buscar(myInput.value,mySelect.value)" style="border-radius: 0rem;"
            title="Ingrese el campo para filtrar" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addcl">Agregar
            Orden</button>&nbsp;
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <br>
    <br>
  </div>

  <!--------------------------------INICIO MODAL AGREGAR CONDUCTOR----------------------------->
  <!-- Modal -->
  <div class="modal fade" id="addcl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-success">
        <div class="modal-header">
          <h5 id="titulomodal" class="modal-title" id="exampleModalLabel"><Strong>Agregar Orden</Strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #ordenForm="ngForm">
            <div class="row">
              <div class="input-field col-12">
                <label><Strong><label id="lbl">*</label>Número de la orden</Strong></label>
                <input class="form-control" id="input" type="number" name="numeroOrden" #name="ngModel"
                  [(ngModel)]="numeroOrden" placeholder="Ingrese el número de la orden" required>
              </div>
              <div class="input-field col-12">
                <label><Strong>Descripción de la orden</Strong></label>
                <textarea class="form-control" id="textarea" type="text" name="descripcionOrden" #name="ngModel"
                  [(ngModel)]="descripcionOrden" placeholder="Ingrese la descripción de la orden"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline-success" (click)="getCountNumOrden(ordenForm)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------FIN MODAL AGREGAR CONDUCTOR--------------------------------->

  <!------------------------------------------------------------------------------->

  <div class="col-12">
    <!--Inicio Card-->
    <div class="card-group">
      <div class="container">
        <div class="row">
          <div *ngIf="tamarray==0">
            <h3>No Hay Ordenes Para Mostrar</h3>
          </div>
          <div *ngFor="let or of ordenService.orden" class="col-sm-12 col-md-6 col-lg-4">

            <div class="card border-dark">
              <div class="card-header border-dark">
                <h4 id="tituloCard">{{or.numeroOrden}}</h4>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"><strong>ID:</strong>{{or.idOrden}}</h5>
                <p class="card-text"><strong>Numero de orden:</strong> {{or.numeroOrden}} </p>
                <p class="card-text"><strong>Descripción:</strong> {{or.descripcionOrden}} </p>
                <br>
              </div>
              <div class="input-field col-12">
                <div class="card-footer bg-transparent border-dark">
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ex2"
                    (click)="editOrden(or)">
                    <i class="material-icons">edit</i>Editar
                  </button>&nbsp;
                  <button type="button" class="btn btn-outline-danger" onclick="('modal-dialog')"
                    (click)="getOrden1(or)" data-toggle="modal" data-target="#modal-eliminar-vehiculo">
                    <i class="material-icons">delete</i>Borrar
                  </button>
                </div>
                <!---->
                <!-------------------------->
                <div class="modal fade" id="ex2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><Strong>Editar Conductor</Strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-label="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form #ordenForm="ngForm">
                          <input class="form-control" id="input" type="hidden" name="idOrden" #idOrden="ngModel"
                            [(ngModel)]="ordenService.selectedOrdent.idOrden">
                          <div class="row">
                            <div class="input-field col-12">
                              <label><Strong><label id="lbl">*</label>Numero de la orden</Strong></label>
                              <input class="form-control" id="input" type="text" name="numeroOrden" #name="ngModel"
                                [(ngModel)]="ordenService.selectedOrdent.numeroOrden"
                                placeholder="Ingrese el número de la orden" required>
                            </div>
                            <div class="input-field col-12">
                              <label><Strong><label id="lbl">*</label>Número de celular</Strong></label>
                              <textarea class="form-control" id="textarea" type="text" name="descripcionOrden"
                                #name="ngModel" [(ngModel)]="ordenService.selectedOrdent.descripcionOrden"
                                placeholder="Ingrese la descripción de la orden" required></textarea>
                            </div>
                          </div>
                        </form>
                        <!---------------------------------->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal"
                          (click)="addOrden(ordenForm)">Guardar
                          cambios</button>
                      </div>
                      <!------------------------------------->
                    </div>
                  </div>
                </div>
                <!-------------------------->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->

      <div class="modal fade" id="modal-eliminar-vehiculo" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="modal-eliminar-vehiculo" role="document">
          <div class="modal-content">
            <div class="modal-body">
              ¿Desea eliminar definitivamente la orden?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="eliminaOrden(ordenService.selectedOrdent)">Eliminar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <!--Fin Card-->
    </div>
    <div class="col">
      <!---->
    </div>
  </div>

  <div class="text-center">
      <div *ngIf="!yaCargo()" class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

</div>